.sidebar {
  display: none;
}

@media (min-width: 1024px) {
  .sidebar {
    display: flex;
    flex-direction: column;
    width: 80px;
    background-color: white;
    border-right: 1px solid #e5e7eb;
    position: fixed;
    left: 0;
    top: 0;
    height: 100vh;
    z-index: 50;
  }
}
