.header {
  display: none;
}

/* Show on desktop - matches Tailwind lg: breakpoint */
@media (min-width: 1024px) {
  .header {
    display: block;
    background-color: #FCC40B;
    position: sticky;
    top: 0;
    z-index: 40;
  }
}
