.desktopTabs {
  display: none;
}

@media (min-width: 1024px) {
  .desktopTabs {
    display: flex;
    gap: 1.5rem;
    background-color: #FCC40B;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
}
