.desktopTabs {
  display: none;
}

@media (min-width: 1024px) {
  .desktopTabs {
    display: flex;
    gap: 1.5rem;
    background-color: #FCC40B;
    padding-top: 1rem;
    padding-bottom: 0.75rem;
    /* no need for bottom border, don't add it */
    /* border-bottom: 1px solid rgba(0, 0, 0, 0.1); */
  }
}
