.contentArea {
  min-height: 100vh;
}

@media (min-width: 1024px) {
  .contentArea {
    margin-left: 80px;
  }
}

.contentWrapper {
  min-height: 100vh;
  background-color: #FCC40B;
  width: 100%;
}
