.contentArea {
  min-height: 100vh;
}

/* Desktop sidebar offset - matches Tailwind lg: breakpoint */
@media (min-width: 1024px) {
  .contentArea {
    margin-left: 80px;
  }
}

.contentWrapper {
  min-height: 100vh;
  background-color: #fcc40b;
  width: 100%;
}
